@import url(roperties.css);
@import url(index.css);
@import url(mylist.css);
@import url(header.css);

body {
    background: rgb(var(--color-white));
}

main {
    width: 100%;
    overflow: hidden;
}
